*{margin: 0;
padding: 0;}

.bakedAI{
    background-image:url(images/WhatsApp\ Image\ 2024-08-20\ at\ 01.04.23_9306c345.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}

form{
    display: flex;
    justify-content: center;
}

.button-section{
    display: flex;
    justify-content: center;
}

.search-bar{
    background-color: rgba(220, 220, 220, 0.438);
    border: 1px solid rgba(237, 183, 49, 1);
    padding-left: 4%;
    padding-right: 39%;
    padding-top:1% ;
    padding-bottom:1% ;
}

.first-suggestion{
    text-align: left;
    color: black;
    padding-left: 2%;
    padding-right: 17%;
    padding-top:0.5% ;
    padding-bottom:0.5% ;
    margin:0.5%;
}

.second-suggestion{
    text-align: left;
    color: black;
    padding-left: 2%;
    padding-right: 21%;
    padding-top:0.5% ;
    padding-bottom:0.5% ;
    margin:0.5%;
}



.background-image{
    height: 394px;
    width:400px;
    border-radius: 2%;
    position: absolute;
}
.front-image{
    height:210px;
    width:240px;
    border: 4px solid white;
    border-radius: 2%;
    position: relative;
    margin-top: 212px;
    margin-left: 268px;
}